name: Build and Deploy to Azure Web App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    # Restore
    - name: Restore
      run: dotnet restore
      working-directory: ./SimpleWebApi

    # Build
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ./SimpleWebApi

    # Publish
    - name: Publish
      run: dotnet publish -c Release -o ../publish
      working-directory: ./SimpleWebApi

    # Upload artifact
    - uses: actions/upload-artifact@v4
      with:
        name: published-app
        path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: published-app
        path: ./publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: coimbatorenetdemo2025
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish
